.init {
    width: 500px;
    min-height: 100vh;
    background: #fff;
}

.init h1{
    font-size: 36px;
    text-align: left;
    color: #1A45B1;
}

.init .input-box {
    position: relative;
    width: 50%; /*ancho del campo_entrada*/
    height: 50px; /*altura del campo_entrada*/
    margin: 50px 0; /*espaciado vertical*/
}

